<div class="row">
    <p>This application has the ability to create and list issues from <a href="https://github.com/roag92/angular-github-issues" target="_blank"><b>angular-github-issues</b></a> repository.</p>
    <button id="new" *ngIf="!addingMode" mat-mini-fab [routerLink]="['new']">
        <mat-icon aria-label="Add issue">add</mat-icon>
    </button>
    <button id="list" *ngIf="addingMode" mat-mini-fab [routerLink]="['list']">
      <mat-icon aria-label="Retuns issues">arrow_back</mat-icon>
  </button>
</div>
<div class="row">
    <router-outlet></router-outlet>
</div>